# Ignora arquivos de estado visual da máquina local do Obsidian
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/core-plugins.json
.obsidian/graph.json
# Ignora cache desnecessário de indexação visual
.obsidian/cache/